@import url('https://fonts.cdnfonts.com/css/anton');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;900&display=swap');

body{
    background-color: #141414;
}
.titulo_um{
    color: black;
    font-family:'Anton', sans-serif;
    font-size: 40px;
    margin: auto 50px;
}
.caixa_um{
    /* margin: 50px; */
    background-color: #f9ef23;
    height: 80px;
    /* border-radius: 100rem; */
    display: flex;
    justify-content: space-between;
}
.functions{
    display: flex;
    margin: auto 100px;
    width: 250px;
    justify-content: space-between;

}
.functions a{
    text-decoration: none;
    color: #141414;
    font-family: 'Anton', sans-serif;
}
.nome{
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    margin-left: 50%;
    margin-top: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.primeiro_nome {
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f9ef23;
    font-size: medium;
    margin-left: 50%;
    position: relative;
    top: 45px;
}
.email_{
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    margin-left: 50%;
    margin-top: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.email{
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f9ef23;
    font-size: medium;
    margin-left: 50%;
    position: relative;
    top: 45px; 
}
.formulario{
    display: flex;
}
.fotos{
    display: flex;
    margin: 30px;
}
.foto1{
    height: 500px;
    object-fit: cover;
}
.foto2{
    height: 500px;
    object-fit: cover;
    margin-top: 300px;
    margin-left: -100px;
}
.inputs{
    width: 100%;
}
.senha_um{
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f9ef23;
    font-size: medium;
    margin-left: 50%;
    position: relative;
    top: 45px; 
}
.senha{
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    margin-left: 50%;
    margin-top: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.senha_dois{
    font-family: 'Hanken Grotesk', sans-serif;
    color: #f9ef23;
    font-size: medium;
    margin-left: 50%;
    position: relative;
    top: 45px; 
}
.senha_dois_dois{
    width: 30%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    margin-left: 50%;
    margin-top: 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.button2 button{
    width: 80px;
    height: 30px;
    margin: 10px;
    border: none;
    margin-left: 700px;
    font-weight: 20px;
    font-family: 'Hanken Grotesk', sans-serif;
    color: #141414;
    background-color: #f9ef23;
    border-radius: 20px;
}